<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Campaign Member Details Results</h2>

<table border=1>
	<tr><th>ID</th><th>Name</th></tr>
    <% results.forEach(function(r) { %>
        <tr><td><%= r.Id %></td><td><%= r.sfid %></td><td><%= r.Name %></td></tr>
    <% }); %>
</table>

</div>

</body>
</html>
